# no .DS_Store files
*.DS_Store

# no .Rhistorys please!
*.Rhistory

#*primer_parcial.R

*Jan2015_BernoulliDistributionsPt1.R
*Jan2015_BernoulliDistributionsPt2.R
*Jan2015_InferenceBinomialModels.R
*Jan2015_InferenceBernoulliModels.R
*Jan2015_InferenceNormalModels.R
*Jan2015_SimpleLinearRegression.R
